<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p>Somos DevMatch. Nuestra compañia se enfoca en crear una comunidad exclusiva
    en la que desarrolladores y emprendedores puedan conocerse. 
    </p>
</div>